<html>
      <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/main.css">
     </head>

    <body>
      {{>header}}
      <div class="container">
        
        <p>Insert some help documentation here...</p>
      </div>

      {{>footer}}
      {{>bootstrapJS}}  
    </body>
  </html>