<html>
    <head>
        <title>PDF Express</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
      <header>
        <h1>Poozman Recipes</h1>
        <p>Created by Esfandyar Poozesh</p>

        <h2>Recipes</h2>
        <ul>
            <% files.map(file => { %>
                <li>
                    <a href="<%= file.url %>"><%= file.name %></a>
                </li>
            <% }) %>
        </ul>
    </header>
    </body>
</html>